.social-media-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 35px;
  text-decoration: none;
  color: #e1e1e1;
}

.social-media-icon:hover {
  color: #007bff;
  transform: scale(1.5);
}
