<div class="social-media-bar">
  <a
    href="#"
    (click)="openLink(socialNetworkDetail!.facebookLink)"
    target="_blank"
    class="social-media-icon"
  >
    <i class="fa fa-facebook"></i>
  </a>
  <a
    href="#"
    (click)="openLink(socialNetworkDetail!.twitterLink)"
    target="_blank"
    class="social-media-icon"
  >
    <i class="fa fa-twitter"></i>
    <!-- {{socialNetworkDetail!.businessName}} -->
  </a>
  <a
    href="#"
    (click)="openLink(socialNetworkDetail!.instagramLink)"
    target="_blank"
    class="social-media-icon"
  >
    <i class="fa fa-instagram"></i>
  </a>
  <a
    href="#"
    (click)="openLink(socialNetworkDetail!.linkedinLink)"
    target="_blank"
    class="social-media-icon"
  >
    <i class="fa fa-linkedin"></i>
  </a>
  <a
    href="#"
    (click)="openLink(socialNetworkDetail!.businessWebsite)"
    target="_blank"
    class="social-media-icon"
  >
    <i class="fa fa-external-link"></i>
  </a>
</div>
