<br />
<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="div"><h1>Nueva tarjeta</h1></div>
    <br />
    <div class="form-group">
      <label class="label"> Nombre:</label>
      <input
        type="text"
        name="nombre"
        [(ngModel)]="post.nombre"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label class="label"> Adress: </label>
      <input
        type="text"
        name="adress"
        [(ngModel)]="post.adress"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label class="label"> Phone: </label>
      <input
        type="number"
        name="phone"
        [(ngModel)]="post.phone"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label class="label"> Email: </label>
      <input
        type="text"
        name="email"
        [(ngModel)]="post.email"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label class="label"> Website: </label>
      <input
        type="text"
        name="website"
        [(ngModel)]="post.website"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label class="label"> Logo: </label>
      <input
        type="text"
        name="logo"
        [(ngModel)]="post.logo"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label class="label"> Facebook: </label>
      <input
        type="text"
        name="facebooklink"
        [(ngModel)]="post.facebooklink"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label class="label"> Twitter: </label>
      <input
        type="text"
        name="twitterlink"
        [(ngModel)]="post.twitterlink"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label class="label"> Instagram: </label>
      <input
        type="text"
        name="instagramlink"
        [(ngModel)]="post.instagramlink"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label class="label"> Linkedin: </label>
      <input
        type="text"
        name="linkedinlink"
        [(ngModel)]="post.linkedinlink"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label class="label"> Youtube: </label>
      <input
        type="text"
        name="youtubelink"
        [(ngModel)]="post.youtubelink"
        class="form-control"
      />
    </div>

    <button type="submit" class="btn">Agregar</button>
  </form>
</div>
<br />
<br />
<br />
